
    <nav class="side-nav">

        <ul class="side-menu__sub-open">

            <li >
                <a routerLink="show" class="side-menu "  [routerLinkActive]="'side-menu--active'">
                    <mat-icon mat-list-icon>group</mat-icon>
                    <div class="side-menu__title">
                        les operateurs
                        <div class="side-menu__sub-icon transform rotate-180"> <i data-lucide="chevron-down"></i> </div>
                    </div>
                </a>
            </li>



   </ul>

    </nav>

