
<div id="basic-modal-preview-offre" class="modal" tabindex="-1" aria-hidden="true">
  
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <!-- BEGIN: Modal Header -->
            <!-- END: Modal Header -->
            <!-- BEGIN: Modal Body -->
           

    <div class="intro-y flex items-center mt-8">
        <br>
        <br>
        <h2 class="text-lg font-medium mr-auto">
            LIST OFFRES
        </h2>
       
    </div>
    <!-- BEGIN: Transaction Details -->
    <div class="intro-y grid grid-cols-11 gap-5 mt-5">
      
    
        <div class="col-span-12 mt-6">
          
            <div class="mt-5">
                <div class="intro-x">
                    <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                        <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                            <img alt="Midone - HTML Admin Template" src="dist/images/profile-5.jpg">
                        </div>
                        <div class="ml-4 mr-auto">
                            <div class="font-medium">Leonardo DiCaprio</div>
                            <div class="text-slate-500 text-xs mt-0.5">15 August 2022</div>
                        </div>
                        <div class="text-danger">-$44</div>
                    </div>
                </div>
                
                <a href="" class="intro-x w-full block text-center rounded-md py-3 border border-dotted border-slate-400 dark:border-darkmode-300 text-slate-500">View More ...</a> 
            </div>
        

    <!-- END: Transaction Details -->
</div><!-- END: Modal Body -->
            <!-- BEGIN: Modal Footer -->
            <div class="modal-footer"> </div> <!-- END: Modal Footer -->
        </div>
    </div>
</div>